include *.rst
include *.txt
include LICENSE
include Makefile
include .editorconfig
include .flake8
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include tests *.py
